{% extends 'base.html' %}

{% load staticfiles %}

{% block title %} - Genres{% endblock %}

{% block body_block %}
{% load el_pagination_tags %}
    <div class="jumbotron vertical-center">
        <div class="row placeholders">

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h2 class="panel-title">Genre List</h2>
                    </div>
                </div>

                <form method="GET" action="">
                    <div class="row" >
                        <div class="col-md-4 col-md-offset-4">
                            <div class="input-group">
                                <input class="form-control" type="text" name="search" placeholder="Search genre" value="{{ request.GET.search }}">
                                <span class="input-group-btn">
                                    <!--input class= "btn btn-default" type="submit" value="Search"-->
                                    <button class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </form>

                </br>
        </div>
                {% if all_genres %}
                    {% paginate all_genres %}
                    <ul class="list-group">
                        {% for genre in all_genres  %}
                            <li class="list-group-item" ><a href="{% url 'tracklist'  genre.slug %}">{{ genre.name }}</a></li>
                        {% endfor %}
                    </ul>
                <div class="row placeholders ">
                    {% show_pages %}
                </div>
                {% else %}
                    <strong>There are no genre present.</strong>
                {% endif %}
    </div>
    <div class="row placeholders ">
        <a href="{% url 'add_genre' %}" class="btn btn-primary">Add Genre</a>
    </div>
{% endblock %}




