{% extends 'base.html' %}

{% load staticfiles %}

{% block title %} - {{genre_name}}(Tracks){% endblock %}

{% block body_block %}
{% load el_pagination_tags %}
    <div class="jumbotron vertical-center">
        <div class="row placeholders ">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title">Tracks ( {{genre_name}})</h2>
                </div>
            </div>
        </div>
        {%if genre%}
            {%if track_list%}
                {% paginate track_list %}
                <ul class="list-group">
                {% for track in track_list  %}
                    <li class="list-group-item"><a href="{% url 'genre_track_detail' genre.slug track.id %}">{{ track.title }}</a></li>
                {% endfor %}
                </ul>
                <div class="row placeholders ">
                    {% show_pages %}
                </div>
            {% else %}
                <strong>There are no tracks present.</strong>

            {% endif %}
        {% endif %}

    </div>
    <div class="row placeholders ">
        <a href="{% url 'edit_genre' genre.slug %} " class="btn btn-primary">Edit Genre</a>
    </div>
{% endblock %}