{% extends 'base.html' %}

{% load staticfiles %}
{% load track_extras %}

{% block title %} - Tracks{% endblock %}

{% block body_block %}
{% load el_pagination_tags %}
    <div class="jumbotron vertical-center">
        <div class="row placeholders">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="panel-title">Track List</h2>
                </div>
            </div>

            <form method="GET" action="">
                    <div class="row" >
                        <div class="col-md-4 col-md-offset-4">
                            <div class="input-group">
                                <input class="form-control" type="text" name="search" placeholder="Search genre or tracks" value="{{ request.GET.search }}">
                                <span class="input-group-btn">
                                    <!--input class= "btn btn-default" type="submit" value="Search"-->
                                    <button class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </form>

            </br>
        </div>
                {% if all_tracks %}
                {% paginate all_tracks %}
                <ul class="list-group">
                    {% for track in all_tracks  %}
                        <li class="list-group-item" ><a href="{% url 'track_detail'  track.id %}">{{ track.title }}
                            <small>[ |
                                {% for genre in track.genres.all %}
                                    {{ genre.name }} |
                                {% endfor %} ]
                             </small></a>
                            <div align="right">
                                {% for i in track.rating|get_range_full %}
                                   <span class="glyphicon glyphicon-star"></span>
                                {% endfor %}
                                {% for i in track.rating|get_range_empty %}
                                   <span class="glyphicon glyphicon-star-empty"></span>
                                {% endfor %}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <div class="row placeholders ">
                    {% show_pages %}
                </div>
            {% else %}
                <strong>There are no tracks present.</strong>
            {% endif %}
    </div>
    <div class="row placeholders ">
        <a href="{% url 'add_track' %}" class="btn btn-primary">Add Track</a>
    </div>
{% endblock %}






