{% extends 'base.html' %}

{% load staticfiles %}
{% load track_extras %}

{% block title %} - {{track.title}}{% endblock %}

{% block body_block %}
    <div class="jumbotron vertical-center">
        <h2 align="center">Track Detail</h2>

        {% if track %}
            <ul class="list-group">
                <li class="list-group-item"> Track Title: {{ track.title}} </li>
                <li class="list-group-item">Genre: |{% for genre in track.genres.all %} {{genre.name}} | {% endfor %}</li>
                <li class="list-group-item">Rating:
                 {% for i in star%}
                        <span class="glyphicon glyphicon-star"></span>
                 {% endfor %}
                 {% for i in empty_star%}
                        <span class="glyphicon glyphicon-star-empty"></span>
                 {% endfor %}
                 <small>
                    {{ track.rating}}/10
                 </small>
                </li>
            </ul>

        {% else %}
            <strong>There are no genre present.</strong>
        {% endif %}
     </div>
    <div class="row placeholders">
    <p><a href="{% url 'track_edit' track.id %}" class="btn btn-primary">Edit Track</a></p>
    </div>
{% endblock %}